body {
  font-family: "Helvetica", Arial, sans-serif;
  background-color: $body-background-color;
  color: $body-text-color;
}

section {
	width: 70%;
	background-color: $section-background-color;
	margin: 20px auto;
	padding: 5%;
	text-align: center;
}